
* {
    bg0:    #{{base00}}F0;
    bg1:    #{{base01}};
    bg2:    #{{base02}}80;
    bg3:    #{{base03}}F2;
    fg0:    #{{base04}};
    fg1:    #{{base05}};
    fg2:    #{{base06}};
    fg3:    #{{base07}};
    fg4:    #{{base00}};

    background-color:   transparent;
    text-color:         @fg1;

    margin:     0px;
    padding:    0px;
    spacing:    0px;
}

window {
    location:       center;
    width:          960px;
    border-radius:  12px;

    background-color:   @bg0;
}

mainbox {
    padding:    12px;
}

inputbar {
    background-color:   @bg1;
    border-color:       @fg3;

    border:         2px;
    border-radius:  12px;

    padding:    8px 16px;
    spacing:    8px;
    children:   [ prompt,entry ];
}

prompt {
    text-color: @fg2;
}

entry {
    placeholder:        "Search";
    placeholder-color:  @fg4;
}

message {
    margin:             12px 0 0;
    border-radius:      12px;
    border-color:       @fg3;
    background-color:   @bg2;
}

textbox {
    padding:    8px 24px;
}

listview {
    background-color:   transparent;

    margin:     12px 0 0;
    lines:      8;
    columns:    1;

    fixed-height: true;
}

element {
    padding:        8px 16px;
    spacing:        8px;
    border-radius:  12px;
}

element normal active {
    text-color: @bg3;
}

element selected normal, element selected active {
    background-color:   @bg3;
}

element-icon {
    size:           1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
}
