@keyframes background-move {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 00%}
}

* {
  font-family: "Inter", "Font Awesome 6 Free";
  font-size: 14.5px;
}

window#waybar {
  /* background: #{{base01}}; */
  background: #000;
  padding: 0 10px 8px 10px;

  /*border-radius: 14px;
  border: 3px solid transparent;*/

  margin: 10px;
  background-clip: padding-box;

  transition: all 0.07s ease;
}

/*window#waybar.solo, window#waybar.empty {
  border: 0;
  border-radius: 0;
}*/

.modules-left {
  /* background-color: #{{base00}}; */
  border-radius: 10px;
}

.modules-center {
  /* background-color: #{{base00}}; */
  border-radius: 10px;
}

.modules-right {
  /* background-color: #{{base00}}; */
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0;
}


#mode {
  background: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#workspaces button,
#submap,
#custom-media,
#custom-spotify,
#custom-layout,
#custom-kbd,
#custom-notification,
#window,
#language {
  /* background-color: #{{base0D}}; */
  color: #{{base05}};
  padding: 0 8px;
  margin: 0 4px;
  /* border-radius: 6px; */
  /* background-clip: padding-box; */
}

#window {
   background: transparent;
   color: #{{base05}};
}

#clock {
}

#submap {
  animation-name: background-move;
  animation-duration: 0.1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #{{base05}};
    color: #{{base09}};
  }
}

#battery.critical:not(.charging) {
  background: #{{base08}};
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory {
  background: #{{base0E}};
}

#backlight {
}

#network {
  /* background-color: #{{base0B}}; */
  color: #{{base01}};
}

#network.disabled {
  background: #f53c3c;
  color: #{{base01}};
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio.muted, #wireplumber.muted {
  /* background-color: #{{base02}}; */
  color: #{{base03}};
}

#custom-media {
  background: #66cc99;
  color: #2a5c45;
}

#tray {
  background: transparent;
}

/* #tray > .passive { */
/*     -gtk-icon-effect: dim; */
/* } */

/* #tray > .needs-attention { */
/*     -gtk-icon-effect: highlight; */
/* } */

#idle_inhibitor {
  min-width: 1.5em;
}

/*#custom-notification {
  min-width: 1.5em;
}*/

#idle_inhibitor.deactivated {
  color: #{{base05}};
  /* background-color: #{{base01}}; */
  background-color: transparent;
}

#idle_inhibitor.activated {
  background-color: #{{base05}};
  color: #{{base01}};
}

#custom-spotify {
  color: #{{base01}};
  background-color: #1db954;
}

/* #custom-kbd,
#language {
  min-width: 1.2em;
} */

#workspaces button {
  padding: 0px;
  min-width: 24px;
  background-color: transparent;
  color: #{{base03}};
  border-radius: 14px;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.visible {
}

#workspaces button.focused {
}

#workspaces button.active {
  color: #{{base05}};
  transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
  /* color: #{{base00}}; */
  /* background-color: #{{base08}}; */
}

label:disabled,
button:disabled {
  color: inherit;
  /* background-image: none; */
}

#temperature.critical {
  /* background: #{{base08}}; */
  color: #ffffff;
}

/* System monitoring block */

#pulseaudio, #wireplumber {
  padding: 0 8px;
  /* margin-right: 0; */
  /* border-radius: 6px 0 0 6px; */
}

#temperature {
  /* margin: 0; */
  /* border-radius: 0; */
}

#battery {
  /* margin-left: 0; */
  /* border-radius: 0 6px 6px 0; */
}

